body {
    background-color:lightblue;
}

header {
    text-align: center;
}

ul.breadcrumb {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: plum;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: center;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: large;
}

.facts {
    padding-bottom: 50px;
}

.skills {
    padding-bottom: 50px;
}

.projects {
    padding-bottom: 50px;
}

.contact {
    padding-bottom: 50px;
}